.scene {
   height: 100%;
   width: 100%;
   canvas {
      height: 100%;
      width: 100%;
      border-style: solid;
      border-width: 1px;
      border-color: black;
   }
   td,
   table {
      border-style: solid;
      border-width: 1px;
      border-color: black;
   }
}
